<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeckAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MtgDecksNetDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeckAnalyzer.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EventAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Order" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OutputDeck" serializeAs="String">
                <value>out</value>
            </setting>
            <setting name="SeedDeck" serializeAs="String">
                <value />
            </setting>
            <setting name="DeckWriterOutputType" serializeAs="String">
                <value>TextFile</value>
            </setting>
        </DeckAnalyzer.Properties.Settings>
        <MtgDecksNetDownloader.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EventAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Order" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OutputDeck" serializeAs="String">
                <value>out</value>
            </setting>
            <setting name="SeedDeck" serializeAs="String">
                <value />
            </setting>
        </MtgDecksNetDownloader.Properties.Settings>
    </userSettings>
</configuration>